<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>{$mail_title}</title>
<link type="text/css" rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
<script type="text/javascript" src="http://code.jquery.com/jquery-2.0.0.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
<style type="text/css">
.ta_r {text-align:right!important;}
</style>
</head>
<body>
<div data-role="page">
<div data-role="content">
<div class="ui-body ui-body-a ui-corner-all">
<p>{$custom_nick}:</p>
<h3>永恒荣耀祝您生日快乐！！</h3>
<p>感谢您长此以往对我们的支持</p>
<p>值此之际我们将赠送您{$present_point}点积分</p>
<p>祝愿您身体健康，家庭和睦，生活美满</p>
<p class="ta_r">荣耀小助手</p>
</div>
</div>
</div>
</body>
</html>